# Scala-IDE specific
# sbt specific
*.iml
*.ipr
*.iws
*.log
.DS_Store
.cache
.cache/
.classpath
.history
.history/
.idea
.lib/
.project
.scala_dependencies
.settings
.target
.worksheet
/.classpath
/.idea_modules
/.project
/.settings
/RUNNING_PID
/out
/repository*.class
bin/
dist
dist/*
lib_managed/
logs
project/boot/
project/plugins/project/
project/project
project/target
src_managed/
target
target/
tmp
.cache-main
.cache-tests
data
workbench.xmi
couchbase-dev.cfg
*.sublime-workspace
*.sublime-project
src/jekyll/_tutorials
