name: CI

on:
  push:
    branches:
    - main
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: Restore caches
      uses: coursier/cache-action@v7
    - uses: coursier/setup-action@v2
      with:
        jvm: adopt:11
        apps: sbt
    - name: Run tests
      run: sbt +compile +test scalafmtCheckAll scalastyle

